body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 32px auto;
  height: 100vh;
  gap: 60px;
}

span {
  color: chocolate;
}

.header {
  text-align: center;
}
.body-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

img {
  width: calc(95%);
  height: 100px;
  object-fit: cover;
}

.first-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 16px;
}
.second-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 16px;
}
h4 {
  color: rgb(84, 83, 83);
  font-size: 18px;
}

h1 {
  font-size: 40px;
}

.p-end {
  background-color: rgb(42, 25, 13);
  padding: 16px;
}

p {
  color: gray;
}
.p-end p {
  color: white;
}
.p-lorem {
  background-color: rgb(42, 25, 13);
  padding: 16px;
}
.p-lorem p {
  color: white;
}
